*{
	font-family: monospace;
}
body{
	background: linear-gradient(to right top, #1e1e1e 50%, #434343);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.card{
	position: relative;
	margin: auto;
	width: 900px;
	background-color: transparent;
	overflow: hidden;
	box-shadow: 0px 0px 12px #101010;
	border-radius: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 45px 400px 100px;
	grid-template-areas:
	"header header"
	"grid picture"
	"footer footer";
}
.img{
	width: 300px;
	margin-left: 50px;
	position: absolute;
}
.title{
	font-size: 35px;
	font-weight: bold;
	font-family: sans-serif;
	letter-spacing: 1px;
}
.subtitle{
	color: lavender;
	font-size: 14px;
	margin-top: 0px;
}
b{
	float: right;
	margin-top: -1px;
}
a{
	text-decoration: none;
}
.dot{
	content: 'a';
	background-color: #d76464;
	width: 230px;
	height: 230px;
	right: 10%;
	bottom: 30%;
	border-radius: 50%;
	position: absolute;
}
.dot-1{
	content: 'a';
	background-color: #d76464;
	width: 50px;
	height: 50px;
	right: 10%;
	bottom: 70%;
	border-radius: 50%;
	position: absolute;
}
.dot-2{
	content: 'a';
	background-color: #6caf7b;
	width: 210px;
	height: 210px;
	left: -10%;
	bottom: -15%;
	border-radius: 50%;
	position: absolute;
}
.dot-3{
	content: 'a';
	background-color: #6caf7b;
	width: 70px;
	height: 70px;
	left: -5%;
	bottom: 27%;
	border-radius: 50%;
	position: absolute;
}
.dot-4{
	content: 'a';
	background-color: #6caf7b;
	width: 30px;
	height: 30px;
	left: 25%;
	bottom: 10%;
	border-radius: 50%;
	position: absolute;
}
.menu{
	padding: 13px;
	color: white;
	font-size: 13px;
}
.menu:hover{
	background-color: #515151;
}
.header{
	grid-area: header;
}
.grid{
	grid-area: grid;
	padding: 150px 0 0 140px;
	font-size: 18px;
}
.picture{
	grid-area: picture;
}
.footer{
	grid-area: footer;
	color: white;
}
.icon{
	width: 30px;
	margin-left: 3px;
	margin-right: 3px;
}
.more{
	text-decoration: none;
	background-color: transparent;
	border-color: #6caf7b;
	color: lavender;
	border-radius: 20px;
	padding: 10px 25px 10px 25px;
	margin: -5px 0 0 5px;
	transition: padding 0.5s, background-color 0.5s;
}
.more:hover, .more:active{
	padding: 10px 30px 10px 30px;
	background-color: #429054;
}
